{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        <h2>{{ thread.subject }}</h2>
        <div class="container message-container">
            {% for message in thread.messages %}
                <div class="messenger_thread_message">

                    {#
                        the following is the important part the {% trans %} block gets a translation based on local
                        the %sender% and %date% prints the variables that the {% trans %} function returns
                    #}
                    <h5 class="messenger_thread_message_info">
                        {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}
                            %sender%, %date%
                        {% endtrans %}
                    </h5>

                    <div class="messenger_thread_message_body message-body" id="message_{{ message.id }}">
                        {{ message.body }}
                    </div>
                </div>
            {% endfor %}


            <h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

            <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
                {{ form_widget(form) }}

                <input type="submit" />
            </form>
        </div>
    </div>


{% endblock %}
