<table style="width:100%">

    <thead>
    <tr>
        <th>{% trans from 'FOSMessageBundle' %}Subject <t></t>{% endtrans %}</th>
        <th>{% trans from 'FOSMessageBundle' %}Sender <t></t>{% endtrans %}</th>
        <th>{% trans from 'FOSMessageBundle' %}Date-Time <t></t>{% endtrans %}</th>
        <th>{% trans from 'FOSMessageBundle' %}Messages <t></t>{% endtrans %}</th>
        <th>{% trans from 'FOSMessageBundle' %}Last Message <t></t>{% endtrans %}</th>
        <th>{% trans from 'FOSMessageBundle' %}Actions{% endtrans %}</th>
    </tr>
    </thead>

    <tbody>

    {% if threads %}
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }}
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        ({% trans from 'FOSMessageBundle' %}New{% endtrans %})
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.createdBy }}
                    </a>
                </td>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.createdAt|date }}
                    </a>
                </td>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.messages|length }}
                    </a>
                </td>
                <td>
                    {% if thread.lastMessage %}
                        <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}">
                            →
                        </a>
                        {% trans with {'%date%': thread.lastMessage.createdAt|date} from 'FOSMessageBundle' %}on{% endtrans %}
                        <br />
                        {% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td>
                    {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}Restore{% endtrans %}{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}
                                <img src="C:/Users/jeffreyhu/PhpstormProjects/classProject/app/Resources/FOSMessageBundle/views/Message/Trashcan.png" width = 20, height = 20>
                                {% endtrans %}
                            {% endset %}
                        {% endif %}
                        <form action="{{ formAction }}" method="post">
                            <input type="submit" value="{{ submitValue }}" />
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>
