<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Class Project">
    <meta name="author" content="Tim Bauer">
    <title>{% block title %}Gator 2 Gator{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset('css/bootstrap/bootstrap.css') }} >
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
        <link rel="stylesheet" href={{ asset('css/main.css') }} >
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<div class="container">
    {% block navbar %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-collapseable-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class ="watermark"> THIS IS FOR SFSU CSC 648 DEMONSTRATION ONLY!</div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-collapseable-navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a id="home-navbar-link" class="js-toggle-active-main-navbar" href="{{ path('homepage') }}">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a id="itempost" class="js-toggle-active-main-navbar" href="{{ path('itempost_index') }}">
                                Items for Sale
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a id="post-item" class="js-toggle-active-main-navbar" href="{{ path('itempost_new') }}">
                                Sell Item
                            </a>
                        </li>
                        {% if is_granted('ROLE_USER')%}
                            <li><a id="my-market-place-link" class="js-toggle-active-main-navbar" href="{{ path('myMarketplace') }}">My Marketplace</a></li>
                            <li><a id="mailbox-link" class="js-toggle-active-main-navbar" href="{{ path('fos_message_inbox') }}">Mailbox</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN')  or is_granted('ROLE_ADMIN') %}
                            <li><a id="manage-users-navbar-link" class="js-toggle-active-main-navbar" href="{{ path('list_users') }}">Manage Users</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_USER')%}
                            <form method="link" action="{{ path('security_logout') }}">
                                <button type="submit" class="btn btn-default navbar-btn">Sign out</button>
                            </form>
                        {% else %}
                            <li><a href="{{ path('user_register') }}">Register  </a></li>
                            <li>
                                <form method="link" action="{{ path('security_login') }}">
                                    <button type="submit" class="btn btn-default navbar-btn">Sign in</button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-info text-center">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger text-center">
            {{ flash_message }}
        </div>
    {% endfor %}

</div><!-- end "container" -->
<body>
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1 class="page-header-text"> Gator 2 Gator
                <br><small>Buying and Selling made easy for Gators</small>
            </h1>
        </div> <!-- end "page-header" -->
        <section class="section-white">
            <div class="container carousel-container">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="{{ path('itempost_index') }}/?category=Textbooks">
                                <img src="https://i0.wp.com/jameshoward.us/wp-content/uploads/2017/02/textbook-pricing-control.jpg?resize=800%2C400&ssl=1"
                                     alt="Textbooks">
                            </a>
                            <div class="carousel-caption">
                                <h2><a href="{{ path('itempost_index') }}/?category=Textbooks">Textbooks</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <a href="{{ path('itempost_index') }}/?category=Laptops"><img src="https://i2.wp.com/trendyzip.com/wp-content/uploads/2017/01/Xiaomi-Mi-Notebook-Air-China-review-main.jpg?fit=800%2C400" alt="Laptops"></a>
                            <div class="carousel-caption">
                                <h2><a href="{{ path('itempost_index') }}/?category=Laptops">Laptops</a></h2>
                            </div>
                        </div>
                        <div class="item">
                            <a href="{{ path('itempost_index') }}/?category=Furniture"><img src="https://www.westwindhardwood.com/wp-content/uploads/2016/08/DSC_0139-800x400.jpg" alt="Furniture"></a>
                            <div class="carousel-caption">
                                <h2><a href="{{ path('itempost_index') }}/?category=Furniture">Furniture</a></h2>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
</body>
{% block javascripts %}
    <!-- google analytics -->
    <script src={{ asset('js/analyticstracking.js') }}></script>
    <script src={{ asset('js/jquery-3.1.1.min.js') }}></script>
    <script src= {{ asset('js/bootstrap.min.js') }}></script>
    <script src={{ asset('js/carousel.js') }}></script>
    <script>
        $(document).ready(function() {
            $(function () {
                $('[data-toggle="popover"]').popover()
            });
        } );

    </script>
{% endblock %}

</html>
