{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form-container">
        <h1>{{ itemPost.name }}</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {{ form_end(edit_form) }}
        <hr>
        <h3>Manage Photos</h3>
        <div>
            {% for photo in itemPost.photos %}
                <img class="ItemPostPhoto" src="{{ asset(photo.path) }}" style="width:100px;;border:0;">
                <a href="{{ path('photo_delete', {'id': photo.id}) }}"><span class="fa fa-close" style="color: red"></span></a>
             {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary btn-float-right" formnovalidate>Submit</button>
        <a class="btn btn-danger btn-float-right-margin" href="{{ path('itempost_delete', { 'id': itemPost.id }) }}">Delete</a>
        <br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var linkId = "#itempost";
            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}