{% extends 'base.html.twig' %}

{% block navbar %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-sub">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseable-search-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapseable-search-navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a id="selectedCategory" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Choose a Category <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TV's, Tablets, Entertainment</a></li>
                            <li><a id ="Furniture" href="#">Furnishings</a></li>
                            <li><a id ="Laptops" href="#">Laptops</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id ="Textbooks" href="#">Text Books</a></li>
                            <li><a href="#">School Supplies</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Tutoring Services</a></li>
                            <li><a href="#">Roommate Wanted</a></li>
                            <li><a href="#">Misc</a></li>
                            <li><a href="#">All Items</a> </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><input type="search" id="searchInputBox" placeholder="Search for Item"/></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block body %}

    <div class="container">
        <table id="js-item-post-table" class="table table-responsive">
            <thead>
            <tr>
                {% if is_granted('ROLE_USER') %}
                    <th>Bookmark Item</th>
                {% else %}
                    <th></th>
                {% endif %}
                <th>Item Name</th>
                <th>Price</th>
                <th></th>
                <th class="hide-cell">Date Posted</th>
                <th class="hide-cell">Category</th>
                <th style="display: none">Description</th>
                <th></th>

            </tr>
            </thead>

            <p id="no-result" hidden>No result found. Please try different keywords.</p>

            <tbody>
            {% for itemPost in itemPosts %}
                {% if itemPost.user == app.user %}
                    <tr class="itemPost" data-category="{{ itemPost.category }}" data-searchable="true" style="background: rgba(21, 20, 91, 0.1)">
                        <td style="text-align: center"><a href="{{ path('itempost_delete', {'id': itemPost.id}) }}"><span class="fa fa-close" style="color: red"></span></a></td>
                {% elseif itemPost.name in bookmarks %}
                    <tr class="itemPost" data-category="{{ itemPost.category }}" data-searchable="true" style="background: rgba(213, 166, 13, 0.1)">
                        <td style="text-align: center"><span class="fa fa-check-circle" style="color: green"></span></td>
                {% else %}
                    <tr class="itemPost" data-category="{{ itemPost.category }}" data-searchable="true">
                        {% if is_granted('ROLE_USER') %}
                            <td style="text-align: center"><a class="js-bookmark" id="{{ itemPost.id }}"><span class="fa fa-bookmark"></span></a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                {% endif %}

                        <td><a id="itemName" href="{{ path('itempost_show', { 'id': itemPost.id }) }}">{{ itemPost.name }}</a></td>
                        <td>${{ itemPost.price|number_format(2) }}</td>
                        <td>
                            <a class ="btn btn-primary" href = "{{ path('fos_message_thread_contact_seller', {'id': itemPost.id}) }}">Contact Seller</a>
                        </td>
                        <td class="hide-cell">{{ itemPost.postDate|date("m/d/Y") }}</td>
                        <td class="hide-cell">{{ itemPost.category }}</td>
                        <td id="itemDescription" style="display: none">{{ itemPost.description }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN')  or is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('itempost_delete', {'id': itemPost.id}) }}"><span class="fa fa-close" style="color: red"></span></a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path("itempost_new") }}" role="button">Sell New Item</a>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var linkId = "#itempost";
            var $table = $('#js-item-post-table');

            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');

            $(".dropdown-menu li a").click(function (e) {
                $(this).parents(".dropdown").find('.dropdown-toggle').html($(this).text() + ' <span class="caret"></span>');
                $(this).parents(".dropdown").find('.dropdown-toggle').val($(this).data('value'));
                var category = $(this).text();

                if (category === 'All Items') {
                    $('tr.itemPost').each(function () {
                        $(this).show();
                    });
                } else {
                    $('tr.itemPost').each(function () {
                        if ($(this).data('category') === category) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
            });

            $('.js-bookmark').click(function (e) {

                $(this).children().removeClass('fa-bookmark').addClass('fa-spinner fa-spin');
                var postId = $(this).attr('id');

                $.post('{{path('addBookmarkAjax')}}',
                    {itemPostId: postId},
                    function(response){
                        if(response.code == 100 && response.success){
                            $("#" + postId).children().removeClass('fa-spinner fa-spin').addClass('fa-check-circle').css("color", "green");
                            $("#" + postId).closest('tr').css('background', 'rgba(213, 166, 13, 0.1)');
                        }

                    }, "json");
            });


            {% if category %}
                $("#{{ category }}").click();
            {% endif  %}

            $('#searchInputBox').keyup(function (e) {

                // Declare variables
                var input, filter, table, tr, td, i, termFoundInItemName, termFoundInDescription, category;
                input = document.getElementById("searchInputBox");
                filter = input.value.toLowerCase();
                table = document.getElementById("js-item-post-table");
                tr = table.getElementsByTagName("tr");
                termFoundInItemName = false;
                termFoundInDescription = false;
                var matchCount = 0;

                category = $('#selectedCategory').text().trim();
                if (category === "Choose a Category" || category === "All Items") {
                    category = 'all';
                }

                if(filter.trim() === "") {
                    $table.show();
                    $('#no-result').hide();
                    $('tr.itemPost').each(function () {
                        if (category === 'all' || $(this).data('category') === category) {
                            $(this).show();
                        }
                    });
                } else if (e.keyCode == 8 || e.keyCode == 46){
                    i=1;
                    $('tr.itemPost').each(function () {
                        var td_name = tr[i].getElementsByTagName("td")[1];
                        var td_description = tr[i].getElementsByTagName("td")[6];

                        td_name = $(td_name).text();
                        td_description = $(td_description).text();

                        if(category === 'all' || $(this).data('category') === category) {
                            if (td_name) {
                                if (td_name.toLowerCase().search(filter) > -1) {
                                    termFoundInItemName = true;
                                    matchCount++;
                                } else {
                                    termFoundInItemName = false;
                                }
                                if (td_description.toLowerCase().search(filter) > -1) {
                                    termFoundInDescription = true;
                                    matchCount++;
                                } else {
                                    termFoundInDescription = false;
                                }
                            }

                            if(termFoundInItemName || termFoundInDescription){
                                $(this).show();
                            }else {
                                $(this).hide();
                            }
                        }
                        i++;

                        if(matchCount === 0){
                            $table.hide();
                            $('#no-result').show();
                        }
                        else{
                            $table.show();
                            $('#no-result').hide();
                        }
                    });
                } else{
                    i=1;
                    $('tr.itemPost').each(function () {
                        var td_name = tr[i].getElementsByTagName("td")[1];
                        var td_description = tr[i].getElementsByTagName("td")[6];

                        td_name = $(td_name).text();
                        td_description = $(td_description).text();

                        if(category === 'all' || $(this).data('category') === category) {
                            if (td_name) {
                                if (td_name.toLowerCase().search(filter) > -1) {
                                    termFoundInItemName = true;
                                    matchCount++;
                                } else {
                                    termFoundInItemName = false;
                                }
                                if (td_description.toLowerCase().search(filter) > -1) {
                                    termFoundInDescription = true;
                                    matchCount++;
                                } else {
                                    termFoundInDescription = false;
                                }
                            }

                            if(termFoundInItemName || termFoundInDescription){
                                $(this).show();
                            }else {
                                $(this).hide();
                            }
                        }
                        i++;

                        if(matchCount === 0){
                            $table.hide();
                            $('#no-result').show();
                        }
                        else{
                            $table.show();
                            $('#no-result').hide();
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

