{% extends 'base.html.twig' %}

{% block body %}
    <div class="container form-container">
        <h1>Post new item to sell!</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a class="btn btn-danger" href="{{ path('itempost_index') }}">Cancel</a>
        <button type="submit" class="btn btn-primary btn-form-rightside"formnovalidate>
            Create Listing
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var linkId = "#post-item";
            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}
