{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ itemPost.name }}</h1>

        <table class="table table-responsive">
            <tbody>
            <tr>
                <th>Price</th>
                <td>${{ itemPost.price|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ itemPost.category }}</td>
            </tr>
            <tr>
                <th>Seller</th>
                <td>{{ itemPost.user.getUsername }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ itemPost.description }}</td>
            </tr>
            <tr>
                <th>Postdate</th>
                <td>{% if itemPost.postDate %}{{ itemPost.postDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>
                    {% for photo in itemPost.photos %}
                        <a href="{{ asset(photo.path) }}">
                            <img class="ItemPostPhoto" src="{{ asset(photo.path) }}" style="width:200px;;border:0;">
                        </a>
                    {% endfor %}

                </td>
            </tr>
            </tbody>
        </table>

        {% if itemPost.user  == app.user  %}
            <a class="btn btn-primary" href="{{ path('itempost_edit', { 'id': itemPost.id }) }}" style="float: right" >Edit</a>
        {% elseif is_granted('ROLE_SUPER_ADMIN')  or is_granted('ROLE_ADMIN') %}
            <a class="btn btn-danger" href="{{ path('itempost_delete', { 'id': itemPost.id}) }}" style="float: right">Delete</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('fos_message_thread_contact_seller', { 'id': itemPost.id }) }}" style="float:right" >Contact Seller</a>
        {% endif %}
        <a class="btn btn-success btn-float-right-margin" href="{{ path('itempost_index') }}">Done</a>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var linkId = "#itempost";
            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}
