{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <table id="js-item-post-table" class="table table-responsive">
            <thead>
            <tr>
                <th>Delete Post</th>
                <th>Item Name</th>
                <th>Price</th>
                <th></th>
                <th>Date Posted</th>
                <th>Category</th>
                <th style="display: none">Description</th>
                <th></th>

            </tr>
            </thead>

            <p id="no-result" hidden>No result found. Please try different keywords.</p>

            <tbody>
            {% for itemPost in itemPosts %}
                <tr class="itemPost" data-category="{{ itemPost.category }}" data-searchable="true">
                    <td style="text-align: center"><a href="{{ path('itempost_delete', {'id': itemPost.id}) }}"><span class="fa fa-close" style="color: red"></span></a></td>
                    <td><a id="itemName" href="{{ path('itempost_show', { 'id': itemPost.id }) }}">{{ itemPost.name }}</a></td>
                    <td>${{ itemPost.price|number_format(2) }}</td>
                    <td>
                        <a class ="btn btn-primary" href = "{{ path('fos_message_thread_contact_seller', {'id': itemPost.id}) }}">Contact Seller</a>
                    </td>
                    <td>{{ itemPost.postDate|date("m/d/Y") }}</td>
                    <td>{{ itemPost.category }}</td>
                    <td id="itemDescription" style="display: none">{{ itemPost.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
