{% extends 'base.html.twig' %}
{% block navbar %}
    {{ parent() }}
    <nav class="navbar navbar-default navbar-sub">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-collapseable-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-collapseable-navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a id="my-items-for-sale" class="js-toggle-active" href="{{ path('myMarketplace') }}">
                            My Items for Sale
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a id="my-bookmarked-items" class="js-toggle-active" href="#">
                            My Bookmarked Items
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block body %}

    <div class="container">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th></th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Date Posted</th>
                <th>Category</th>

            </tr>
            </thead>
            <tbody>
            {% for bookmark in myBookmarks %}
                <tr>
                    <td><a href="{{ path('removeBookmark', {'id': bookmark.id}) }}"><span class="fa fa-close" style="color: red"></span></a></td>
                    <td><a href="{{ path('itempost_show', { 'id': bookmark.itemPost.id }) }}">{{ bookmark.itemPost.name }}</a></td>
                    <td>${{ bookmark.itemPost.price|number_format(2) }}</td>
                    <td>{{ bookmark.itemPost.postDate|date("m/d/Y") }}</td>
                    <td>{{ bookmark.itemPost.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path("itempost_new") }}" role="button">Sell New Item</a>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var linkId = "#my-market-place-link";
            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');

            var linkId = "#my-bookmarked-items";
            $(linkId).parent().addClass('active');
            $(linkId).parent().siblings().removeClass('active');
        } );
    </script>
{% endblock %}